@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat-regular-webfont.woff") format("woff"), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'terminabold';
  src: url("../fonts/termina-bold-webfont.eot");
  src: url("../fonts/termina-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/termina-bold-webfont.woff2") format("woff2"), url("../fonts/termina-bold-webfont.woff") format("woff"), url("../fonts/termina-bold-webfont.svg#terminabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'terminalight';
  src: url("../fonts/termina-light-webfont.eot");
  src: url("../fonts/termina-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/termina-light-webfont.woff2") format("woff2"), url("../fonts/termina-light-webfont.woff") format("woff"), url("../fonts/termina-light-webfont.svg#terminalight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'terminaregular';
  src: url("../fonts/termina-regular-webfont.eot");
  src: url("../fonts/termina-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/termina-regular-webfont.woff2") format("woff2"), url("../fonts/termina-regular-webfont.woff") format("woff"), url("../fonts/termina-regular-webfont.svg#terminaregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-light-webfont.woff2") format("woff2"), url("../fonts/montserrat-light-webfont.woff") format("woff"), url("../fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal; }

/*@font-face {
    font-family: 'terminaregular';
    src: url('../fonts/termina-regular_1-webfont.eot');
    src: url('../fonts/termina-regular_1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/termina-regular_1-webfont.woff2') format('woff2'),
         url('../fonts/termina-regular_1-webfont.woff') format('woff'),
         url('../fonts/termina-regular_1-webfont.svg#terminaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
